body {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}


hr {
   width:50%;
   margin:0 auto;
   height: 1px;
   color: black;
   background-color: black;
}


footer {
	background-color: black;
	color: white;
	font-style: italic;
	text-align: center;
	font-size: 14px;
}
